@import "../../mixins";
@import "../../variables";

.mainContainer {
    width: 60%;
    margin-left: 20%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    border-bottom: 1px solid $platinium;

    .tagsContainer {
        @include flexBox(row, wrap, flex-start, flex-start);

        .tagContainer {
            margin: 1%;
            height: 50px;
            @include flexBox(column, nowrap, flex-start, center);
        }
    }
}

@media screen and (max-width: 900px) {
    .mainContainer {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 2.5%;
    }
}