@import '../../mixins';

.mainContainer {
    width: 50%;
    margin: 0;
    margin-left: 25%;

    .title {
        margin-bottom: 2%;
    }

    .bundleContainer {
        @include flexBox(row, wrap, flex-start, flex-start);
    
        .imageContainer {
            width: 48%;
            margin: 1%;

            .image {
                width: 100%;
                border-radius: 20px;
            }
        }

        .videoContainer {
            width: 30%;
            margin: 1%;

            .video {
                width: 100%;
                border-style: none;
                border-radius: 20px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .mainContainer {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 1200px) {
    .mainContainer {
        .bundleContainer {
            .videoContainer {
                width: 55%;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .mainContainer {
        .bundleContainer {
            .imageContainer {
                width: 100%;
            }
            .videoContainer {
                width: 100%;
            }
        }
    }
}