/* Scales animation */
@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes scaleDown {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Background black & white animations */
@-webkit-keyframes toWhiteBtn {
  from {
    background-color: #151515;
    color: #fcf7f8;
  }
  to {
    background-color: #fcf7f8;
    color: #151515;
  }
}
@keyframes toWhiteBtn {
  from {
    background-color: #151515;
    color: #fcf7f8;
  }
  to {
    background-color: #fcf7f8;
    color: #151515;
  }
}

@-webkit-keyframes toBlackBtn {
  from {
    background-color: #fcf7f8;
    color: #151515;
  }
  to {
    background-color: #151515;
    color: #fcf7f8;
  }
}

@keyframes toBlackBtn {
  from {
    background-color: #fcf7f8;
    color: #151515;
  }
  to {
    background-color: #151515;
    color: #fcf7f8;
  }
}

/* Basic rotate animations */
@-webkit-keyframes right180 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes right180 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes reverseRight180 {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes reverseRight180 {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

/* Buttons animation */
/* Scale up & down animation */
/* 360 animation */
.card, .cardBlack, .cardWhite {
  width: 100%;
  padding: 8%;
  border-radius: 20px;
}

.card .tag, .cardBlack .tag, .cardWhite .tag, .card .tagWhite, .cardBlack .tagWhite, .cardWhite .tagWhite, .card .skillsContainer .skillWhite, .cardBlack .skillsContainer .skillWhite, .cardWhite .skillsContainer .skillWhite, .card .tagBlack, .cardBlack .tagBlack, .cardWhite .tagBlack, .card .skillsContainer .skillBlack, .cardBlack .skillsContainer .skillBlack, .cardWhite .skillsContainer .skillBlack {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3%;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  font-size: 0.85em;
}

.card .tagWhite, .cardBlack .tagWhite, .cardWhite .tagWhite, .card .skillsContainer .skillWhite, .cardBlack .skillsContainer .skillWhite, .cardWhite .skillsContainer .skillWhite {
  border-color: #fcf7f8;
  color: #fcf7f8;
}

.card .tagBlack, .cardBlack .tagBlack, .cardWhite .tagBlack, .card .skillsContainer .skillBlack, .cardBlack .skillsContainer .skillBlack, .cardWhite .skillsContainer .skillBlack {
  border-color: #151515;
  color: #151515;
}

.card .catAndYearContainer, .cardBlack .catAndYearContainer, .cardWhite .catAndYearContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card .skillsContainer, .cardBlack .skillsContainer, .cardWhite .skillsContainer {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card .skillsContainer .skill, .cardBlack .skillsContainer .skill, .cardWhite .skillsContainer .skill, .card .skillsContainer .skillWhite, .cardBlack .skillsContainer .skillWhite, .cardWhite .skillsContainer .skillWhite, .card .skillsContainer .skillBlack, .cardBlack .skillsContainer .skillBlack, .cardWhite .skillsContainer .skillBlack {
  margin-right: 3%;
}

.card .cover, .cardBlack .cover, .cardWhite .cover {
  width: 100%;
  cursor: pointer;
}

.card .cover .coverImage, .cardBlack .cover .coverImage, .cardWhite .cover .coverImage {
  height: auto;
  width: auto;
  max-width: 100%;
  border-radius: 20px;
}

.card .title, .cardBlack .title, .cardWhite .title {
  margin-top: 4%;
  margin-bottom: 2%;
}

.card .description, .cardBlack .description, .cardWhite .description {
  margin-bottom: 10%;
}

.card .seeMoreGitContainer, .cardBlack .seeMoreGitContainer, .cardWhite .seeMoreGitContainer {
  width: 100%;
  margin-bottom: -2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card .seeMoreGitContainer .seeMore, .cardBlack .seeMoreGitContainer .seeMore, .cardWhite .seeMoreGitContainer .seeMore, .card .seeMoreGitContainer .seeMoreBlack, .cardBlack .seeMoreGitContainer .seeMoreBlack, .cardWhite .seeMoreGitContainer .seeMoreBlack, .card .seeMoreGitContainer .seeMoreWhite, .cardBlack .seeMoreGitContainer .seeMoreWhite, .cardWhite .seeMoreGitContainer .seeMoreWhite {
  width: 40%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.card .seeMoreGitContainer .seeMoreBlack, .cardBlack .seeMoreGitContainer .seeMoreBlack, .cardWhite .seeMoreGitContainer .seeMoreBlack {
  background-color: #151515;
  border-color: #151515;
  color: #fcf7f8;
  -webkit-animation-name: toBlackBtn;
          animation-name: toBlackBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreGitContainer .seeMoreBlack:hover, .cardBlack .seeMoreGitContainer .seeMoreBlack:hover, .cardWhite .seeMoreGitContainer .seeMoreBlack:hover {
  -webkit-animation-name: toWhiteBtn;
          animation-name: toWhiteBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreGitContainer .seeMoreWhite, .cardBlack .seeMoreGitContainer .seeMoreWhite, .cardWhite .seeMoreGitContainer .seeMoreWhite {
  background-color: #fcf7f8;
  border-color: #fcf7f8;
  color: #151515;
  -webkit-animation-name: toWhiteBtn;
          animation-name: toWhiteBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreGitContainer .seeMoreWhite:hover, .cardBlack .seeMoreGitContainer .seeMoreWhite:hover, .cardWhite .seeMoreGitContainer .seeMoreWhite:hover {
  -webkit-animation-name: toBlackBtn;
          animation-name: toBlackBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreGitContainer .git, .cardBlack .seeMoreGitContainer .git, .cardWhite .seeMoreGitContainer .git {
  width: 13%;
  -webkit-animation-name: scaleDown;
          animation-name: scaleDown;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreGitContainer .git:hover, .cardBlack .seeMoreGitContainer .git:hover, .cardWhite .seeMoreGitContainer .git:hover {
  -webkit-animation-name: scaleUp;
          animation-name: scaleUp;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreGitContainer .git .gitIcon, .cardBlack .seeMoreGitContainer .git .gitIcon, .cardWhite .seeMoreGitContainer .git .gitIcon {
  width: 100%;
}

@media screen and (max-width: 850px) {
  .card, .cardBlack, .cardWhite {
    padding: 8%;
  }
}

@media screen and (max-width: 450px) {
  .card .catAndYearContainer .year, .cardBlack .catAndYearContainer .year, .cardWhite .catAndYearContainer .year {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 360px) {
  .card .tag, .cardBlack .tag, .cardWhite .tag, .card .tagWhite, .cardBlack .tagWhite, .cardWhite .tagWhite, .card .skillsContainer .skillWhite, .cardBlack .skillsContainer .skillWhite, .cardWhite .skillsContainer .skillWhite, .card .tagBlack, .cardBlack .tagBlack, .cardWhite .tagBlack, .card .skillsContainer .skillBlack, .cardBlack .skillsContainer .skillBlack, .cardWhite .skillsContainer .skillBlack {
    font-size: 0.75em;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 310px) {
  .card, .cardBlack, .cardWhite {
    padding: 8.5%;
  }
  .card .catAndYearContainer .year, .cardBlack .catAndYearContainer .year, .cardWhite .catAndYearContainer .year {
    font-size: 0.65em;
  }
  .card .tag, .cardBlack .tag, .cardWhite .tag, .card .tagWhite, .cardBlack .tagWhite, .cardWhite .tagWhite, .card .skillsContainer .skillWhite, .cardBlack .skillsContainer .skillWhite, .cardWhite .skillsContainer .skillWhite, .card .tagBlack, .cardBlack .tagBlack, .cardWhite .tagBlack, .card .skillsContainer .skillBlack, .cardBlack .skillsContainer .skillBlack, .cardWhite .skillsContainer .skillBlack {
    font-size: 0.7em;
  }
}

.cardBlack {
  background-color: #151515;
}

.cardWhite {
  background-color: #fcf7f8;
}
/*# sourceMappingURL=projectCard.module.css.map */