@import "../../mixins";

.mainContainer {
    width: 100%;
    margin-bottom: 2%;
    @include flexBox(row, nowrap, space-between, center);

    .gridContainer {
        width: 100%;
        
        .gridSection {
            width: 100%;
            @include flexBox(row, nowrap, space-around, center);
        }
    
        .grid {
            width: 75%;
            margin-left: 12.5%;
            @include flexBox(row, wrap, space-around, center);

            .cardContainer {
                width: 25%;
                margin-right: 2%;
                margin-bottom: 4%;
            }
        }

        .cardContainerSection {
            width: 26%;
            margin-right: 2%;
        }

        .dotsContainer {
            width: 75%;
            margin-left: 12.5%;
            margin-top: 5%;
            margin-bottom: 5%;

            @include flexBox(row, nowrap, space-around, center);

            .dot {
                width: 1.5vh;
                height: 1.5vh;
                margin-left: 5%;
                margin-right: 5%;

                border: 1px solid;
                border-radius: 50%;
            }
            .dotBlack {
                @extend .dot;
                border-color: $darkness;
            }
            .dotBlackFilled {
                @extend .dotBlack;
                background-color: $darkness;
            }
            .dotWhite {
                @extend .dot;
                border-color: $snow;
            }
            .dotWhiteFilled {
                @extend .dotWhite;
                background-color: $snow;
            }
        }
    }

    .arrow {
        width: 4%;
        background-color: transparent;
        cursor: pointer;
    }
    .arrowRight {
        @extend .arrow;
        
        animation-name: bounceyRightReverse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        &:hover {
            animation-name: bounceyRight;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
    .arrowLeft {
        @extend .arrow;

        animation-name: bounceyLeftReverse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        &:hover {
            animation-name: bounceyLeft;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }

    @keyframes bounceyRight {
        from {transform: translateX(0);}
        to {transform: translateX(5px);}
    }
    @keyframes bounceyRightReverse {
        from {transform: translateX(5px);}
        to {transform: translateX(0);}
    }

    @keyframes bounceyLeft {
        from {transform: translateX(0);}
        to {transform: translateX(-5px);}
    }
    @keyframes bounceyLeftReverse {
        from {transform: translateX(-5px);}
        to {transform: translateX(0);}
    }
}

@media screen and (max-width: 1600px) {
    .mainContainer {
        .gridContainer {
            .grid {
                width: 90%;
                margin-left: 5%;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .mainContainer {
        .gridContainer {
            .grid {
                width: 95%;
                margin-left: 2.5%;
            }
        }
    }
}

@media screen and (max-width: 1225px){
    .mainContainer {

        .gridContainer {
            .cardContainerSection {
                width: 35%;
            }

            .dotsContainer {
                margin-top: 4%;
                margin-bottom: 5%;
            }

            .grid {
                .cardContainer {
                    width: 35%;
                    margin-right: 5%;
                }
            }
        }

        .arrow {
            width: 5%;
        }
    }
}

@media screen and (max-width: 850px){
    .mainContainer {
        margin-bottom: 6%;

        .gridContainer {
            .cardContainerSection {
                width: 39%;
                margin-right: 3%;
            }

            .dotsContainer {
                margin-bottom: 2%;
            }

            .grid {
                width: 100%;
                margin-left: 0;

                .cardContainer {
                    width: 38%;
                }
            }
        }

        .arrow {
            width: 6%;
        }
    }
}

@media screen and (max-width: 700px){
    .mainContainer {
        margin-bottom: 10%;

        .gridContainer {
            margin-top: 5%;

            .cardContainerSection {
                width: 60%;
                margin-right: 4.25%;
            }

            .dotsContainer {
                margin-top: 8%;
            }

            .grid {
                .cardContainer {
                    margin-right: 8%;
                    margin-bottom: 10%;
                }
            }
        }

        .arrow {
            width: 8%;
        }
    }
}

@media screen and (max-width: 550px) {
    .mainContainer {
        .gridContainer {
            .cardContainerSection {
                width: 70%;
                margin-right: 10%;
            }

            .grid {
                .cardContainer {
                    width: 75%;
                    margin-right: 10%;
                }
            }
        }
    }
}

@media screen and (max-width: 300px) {
    .mainContainer {
        .gridContainer {
            .cardContainerSection {
                width: 75%;
                margin-right: 7%;
            }
        }
    }
}