@import "../../mixins";

.mainContainer {
    width: 100%;
    margin-bottom: 2%;
    @include flexBox(row, nowrap, space-between, center);

    .gridContainer {
        width: 100%;
        margin-right: 8%;
        
        .gridSection {
            width: 100%;
            @include flexBox(row, nowrap, center, center);
        }
    
        .grid {
            width: 100%;
            @include flexBox(row, wrap, center, center);
        }

        .cardContainer {
            width: 26%;
            margin-left: 3.5%;
            margin-right: 3.5%;
        }

        .dotsContainer {
            width: 75%;
            margin-left: 12.5%;
            margin-top: 3%;

            @include flexBox(row, nowrap, space-around, center);

            .dot {
                width: 1.5vh;
                height: 1.5vh;
                margin-left: 5%;
                margin-right: 5%;

                border: 1px solid;
                border-radius: 50%;
            }
            .dotBlack {
                @extend .dot;
                border-color: $darkness;
            }
            .dotBlackFilled {
                @extend .dotBlack;
                background-color: $darkness;
            }
            .dotWhite {
                @extend .dot;
                border-color: $snow;
            }
            .dotWhiteFilled {
                @extend .dotWhite;
                background-color: $snow;
            }
        }
    }

    .arrow {
        width: 4%;
        background-color: transparent;
        cursor: pointer;
    }
    .arrowRight {
        @extend .arrow;
        
        animation-name: bounceyRightReverse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        &:hover {
            animation-name: bounceyRight;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
    .arrowLeft {
        @extend .arrow;

        animation-name: bounceyLeftReverse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        &:hover {
            animation-name: bounceyLeft;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }

    @keyframes bounceyRight {
        from {transform: translateX(0);}
        to {transform: translateX(5px);}
    }
    @keyframes bounceyRightReverse {
        from {transform: translateX(5px);}
        to {transform: translateX(0);}
    }

    @keyframes bounceyLeft {
        from {transform: translateX(0);}
        to {transform: translateX(-5px);}
    }
    @keyframes bounceyLeftReverse {
        from {transform: translateX(-5px);}
        to {transform: translateX(0);}
    }
}

@media screen and (max-width: 1200px){
    .mainContainer {
        .arrow {
            width: 5%;
        }
    }
}

@media screen and (max-width: 850px){
    .mainContainer {
        margin-bottom: 6%;
        .arrow {
            width: 6%;
        }
    }
}

@media screen and (max-width: 500px){
    .mainContainer {
        margin-bottom: 10%;
        .arrow {
            width: 8%;
        }
    }
}