/* Scales animation */
@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes scaleDown {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Background black & white animations */
@-webkit-keyframes toWhiteBtn {
  from {
    background-color: #151515;
    color: #fcf7f8;
  }
  to {
    background-color: #fcf7f8;
    color: #151515;
  }
}
@keyframes toWhiteBtn {
  from {
    background-color: #151515;
    color: #fcf7f8;
  }
  to {
    background-color: #fcf7f8;
    color: #151515;
  }
}

@-webkit-keyframes toBlackBtn {
  from {
    background-color: #fcf7f8;
    color: #151515;
  }
  to {
    background-color: #151515;
    color: #fcf7f8;
  }
}

@keyframes toBlackBtn {
  from {
    background-color: #fcf7f8;
    color: #151515;
  }
  to {
    background-color: #151515;
    color: #fcf7f8;
  }
}

/* Buttons animation */
/* Scale up & down animation */
.card, .cardBlack, .cardWhite {
  width: 30%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  padding: 3%;
  border-radius: 20px;
}

.card .tag, .cardBlack .tag, .cardWhite .tag, .card .tagWhite, .cardBlack .tagWhite, .cardWhite .tagWhite, .card .skillsContainer .skillWhite, .cardBlack .skillsContainer .skillWhite, .cardWhite .skillsContainer .skillWhite, .card .tagBlack, .cardBlack .tagBlack, .cardWhite .tagBlack, .card .skillsContainer .skillBlack, .cardBlack .skillsContainer .skillBlack, .cardWhite .skillsContainer .skillBlack {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 3%;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  font-size: 0.85em;
}

.card .tagWhite, .cardBlack .tagWhite, .cardWhite .tagWhite, .card .skillsContainer .skillWhite, .cardBlack .skillsContainer .skillWhite, .cardWhite .skillsContainer .skillWhite {
  border-color: #fcf7f8;
  color: #fcf7f8;
}

.card .tagBlack, .cardBlack .tagBlack, .cardWhite .tagBlack, .card .skillsContainer .skillBlack, .cardBlack .skillsContainer .skillBlack, .cardWhite .skillsContainer .skillBlack {
  border-color: #151515;
  color: #151515;
}

.card .skillsContainer, .cardBlack .skillsContainer, .cardWhite .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card .skillsContainer .skill, .cardBlack .skillsContainer .skill, .cardWhite .skillsContainer .skill, .card .skillsContainer .skillWhite, .cardBlack .skillsContainer .skillWhite, .cardWhite .skillsContainer .skillWhite, .card .skillsContainer .skillBlack, .cardBlack .skillsContainer .skillBlack, .cardWhite .skillsContainer .skillBlack {
  margin-right: 3%;
  margin-bottom: 6%;
}

.card .cover, .cardBlack .cover, .cardWhite .cover {
  width: 100%;
}

.card .cover .coverImage, .cardBlack .cover .coverImage, .cardWhite .cover .coverImage {
  width: 100%;
  border-radius: 20px;
}

.card .title, .cardBlack .title, .cardWhite .title {
  margin-top: 6%;
  margin-bottom: 2%;
}

.card .description, .cardBlack .description, .cardWhite .description {
  margin-bottom: 10%;
}

.card .seeMore, .cardBlack .seeMore, .cardWhite .seeMore, .card .seeMoreBlack, .cardBlack .seeMoreBlack, .cardWhite .seeMoreBlack, .card .seeMoreWhite, .cardBlack .seeMoreWhite, .cardWhite .seeMoreWhite {
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid;
  border-radius: 5px;
}

.card .seeMoreBlack, .cardBlack .seeMoreBlack, .cardWhite .seeMoreBlack {
  background-color: #151515;
  border-color: #151515;
  color: #fcf7f8;
  -webkit-animation: toBlackBtn;
          animation: toBlackBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreBlack:hover, .cardBlack .seeMoreBlack:hover, .cardWhite .seeMoreBlack:hover {
  -webkit-animation: toWhiteBtn;
          animation: toWhiteBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreWhite, .cardBlack .seeMoreWhite, .cardWhite .seeMoreWhite {
  background-color: #fcf7f8;
  border-color: #fcf7f8;
  color: #151515;
  -webkit-animation: toWhiteBtn;
          animation: toWhiteBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card .seeMoreWhite:hover, .cardBlack .seeMoreWhite:hover, .cardWhite .seeMoreWhite:hover {
  -webkit-animation: toBlackBtn;
          animation: toBlackBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 1200px) {
  .card, .cardBlack, .cardWhite {
    width: 45%;
  }
}

@media screen and (max-width: 850px) {
  .card, .cardBlack, .cardWhite {
    width: 50%;
    padding: 5%;
  }
}

.cardBlack {
  background-color: #151515;
}

.cardWhite {
  background-color: #E4E4E4;
}
/*# sourceMappingURL=projectCard.module.css.map */