@import "../../mixins";
@import "../../variables";

.gridContainer {
    width: 100%;
    margin-bottom: 2%;
    @include flexBox(row, nowrap, space-between, center);

    .grid {
        width: 100%;
        @include flexBox(row, nowrap, center, center);
    }

    .arrow {
        width: 4%;
        background-color: transparent;
        cursor: pointer;
    }
    .arrowRight {
        @extend .arrow;
        
        animation-name: bounceyRightReverse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        &:hover {
            animation-name: bounceyRight;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
    .arrowLeft {
        @extend .arrow;

        animation-name: bounceyLeftReverse;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;

        &:hover {
            animation-name: bounceyLeft;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }

    @keyframes bounceyRight {
        from {transform: translateX(0);}
        to {transform: translateX(5px);}
    }
    @keyframes bounceyRightReverse {
        from {transform: translateX(5px);}
        to {transform: translateX(0);}
    }

    @keyframes bounceyLeft {
        from {transform: translateX(0);}
        to {transform: translateX(-5px);}
    }
    @keyframes bounceyLeftReverse {
        from {transform: translateX(-5px);}
        to {transform: translateX(0);}
    }
}

@media screen and (max-width: 1200px){
    .gridContainer {
        .arrow {
            width: 5%;
        }
    }
}

@media screen and (max-width: 850px){
    .gridContainer {
        margin-bottom: 6%;
        .arrow {
            width: 6%;
        }
    }
}

@media screen and (max-width: 500px){
    .gridContainer {
        margin-bottom: 10%;
        .arrow {
            width: 8%;
        }
    }
}