@import '../../../variables';

.tag {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;

    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.85em;
}



.tagIcon {
    width: 18px;
    margin-top: 5px;

    animation-name: display Icon;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 600px) {
    .tag {
        padding: 3px;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 0.75em;
    }

    .tagIcon {
        display: none;
    }
}



.tagWhite {
    @extend .tag;
    border-color: $snow;
    
    animation-name: backgroundFadeOutWhite;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

    &:hover {
        animation-name: backgroundFadeInWhite;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }
}
.tagBlack {
    @extend .tag;
    border-color: $darkness;
    
    animation-name: backgroundFadeOutBlack;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

    &:hover {
        animation-name: backgroundFadeInBlack;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }
}

.tagChosenWhite {
    @extend .tagWhite;
    background-color: $snow;
    color: $darkness;
}
.tagChosenBlack {
    @extend .tagBlack;
    background-color: $darkness;
    color: $snow;
}

@keyframes backgroundFadeInWhite {
    from {background-color: none;}
    to {background-color: $tagHoveredSnow;}
}

@keyframes backgroundFadeOutWhite {
    from {background-color: $tagHoveredSnow;}
    to {background-color: none;}
}

@keyframes backgroundFadeInBlack {
    from {background-color: none;}
    to {background-color: $tagHoveredDarkness;}
}

@keyframes backgroundFadeOutBlack {
    from {background-color: $tagHoveredDarkness;}
    to {background-color: none;}
}

.tagIconHided {
    @extend .tagIcon;
    animation-name: hideIcon;
}

@keyframes displayIcon {
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes hideIcon {
    from {opacity: 100%;}
    to {opacity: 0;}
}