@keyframes slide-down {
  from {
    transform: translateY(-10vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0) scale(1);
    margin-left: 47%;
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg) scale(1);
    margin-left: 0%;
  }
}

@keyframes circle-back {
  0% {
    transform: rotate(360deg) scale(1);
    margin-left: 0%;
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg) scale(1);
    margin-left: 47%;
  }
}

@keyframes nav-slide-down {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes nav-slide-up {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-100vh);
  }
}

.header {
  height: 10vh;
  box-shadow: 5px 0px 20px grey;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  transform: translateY(-10vh);

  animation-name: slide-down;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.links-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.links-container > a {
  font-size: 1.2em;
  font-weight: 500;
  margin-left: 2em;
  padding-bottom: 0.1em;

  background: linear-gradient(to right, #4c6ef5, #4c6ef5),
    linear-gradient(to right, #4c6ef5, #12b886, #12b886);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.links-container > a:hover {
  background-size: 0 3px, 100% 3px;
}

@media screen and (max-width: 650px) {
  .header {
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
    padding-left: 1.5em;
  }

  nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 !important;
    z-index: -1;

    background-color: white;
  }

  .logo {
    display: none;
  }

  .logo-burger {
    width: 12vw;
    cursor: pointer;
    animation-name: circle;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-delay: 0.15s;
  }

  .logo-burger-rotate {
    width: 12vw;
    cursor: pointer;
    animation-name: circle-back;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }

  .logo-burger-img {
    border-radius: 100%;
    box-shadow: 0px 0px 15px gray;
  }

  .links-container {
    flex-flow: column nowrap;
  }

  .links-container > a {
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0;
    text-align: center;

    background: none;
    transition: background-color 0.1s, color 0.1s;
  }
  .links-container > a:hover {
    background-color: #212529;
    color: whitesmoke;
  }
  .links-container > a:nth-child(4) {
    padding-bottom: 1em;
  }

  nav h2 {
    width: 100%;
    height: 4vh;
    padding-top: 1.2em;
    padding-bottom: 1em;
    text-align: center;
  }

  .nav-hidden {
    top: 0vh;
    animation-name: nav-slide-up;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }

  .nav-displayed {
    top: 0vh;
    animation-name: nav-slide-down;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
  }
}
