@keyframes to-bg-white {
  from {
    background-color: transparent;
    color: whitesmoke;
  }
  to {
    background-color: whitesmoke;
    color: #4c6ef5;
  }
}

@keyframes to-bg-transparent {
  from {
    background-color: whitesmoke;
    color: #4c6ef5;
  }
  to {
    background-color: transparent;
    color: whitesmoke;
  }
}

@keyframes pointing-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7.5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pointing-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7.5px);
  }
  100% {
    transform: translateY(0);
  }
}

.footer {
  background-color: #4c6ef5;
}

.footer h2 {
  color: whitesmoke;
  font-size: 2.25em;
}

.footer p {
  color: whitesmoke;
  font-size: 1.25em;
}

.work-banner {
  width: 60%;
  margin: 0;
  margin-left: 18%;
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  transform: translateY(-50%);

  border-radius: 20px;
  background-color: #212529;
  box-shadow: 0px 5px 20px black;
}

.work-banner > h2 {
  text-align: center;
  margin-bottom: 1em;
}

.work-banner > div {
  width: 75%;
  margin-left: 12.5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.work-banner > div > p {
  width: 60%;
}

.arrow-right {
  width: 3em;
  height: 3em;

  animation-name: pointing-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.socials-section {
  margin-top: -2.5em;
  margin-bottom: 7em;
}

.socials-section > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  width: 3em;
  height: 3em;
  margin: 2em;
  margin-top: 1em;

  animation-name: pointing-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.socials > li > a {
  width: 2.05em;
  height: 2em;
  display: flex;
  justify-content: center;

  margin-left: 1em;
  margin-right: 1em;
  padding: 0.75em;
  border: 2px solid rgba(245, 245, 245, 0.674);
  border-radius: 100%;

  animation-name: to-bg-transparent;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.socials > li > a:hover {
  animation-name: to-bg-white;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.social {
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 950px) {
  .work-banner > div {
    flex-direction: column;
    width: 85%;
    margin-left: 7.5%;
  }

  .work-banner > div > p {
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
  }

  .arrow-right {
    display: none;
  }
}

.copyright {
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15em;
  color: whitesmoke;
}

@media screen and (max-width: 750px) {
  .work-banner {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

@media screen and (max-width: 650px) {
  .work-banner {
    width: 90%;
    margin-left: 5%;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .work-banner h2 {
    font-size: 1.75em;
  }

  .copyright {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .socials-section h2 {
    font-size: 1.9em;
  }
}
