@import '../variables';

.bodyWhite {
    background-color: $snow;
}

.bodyBlack {
    background-color: $darkness;
}

.textWhite {
    color: $platinium;
}

.textBlack {
    color: $darkness;
}

.link {
    color: $middleGrey;
}

.linkWhite {
    @extend .link;

    &:hover {
        color: $darkness;
    }
}

.linkBlack {
    @extend .link;
    
    &:hover {
        color: $snow;
    }
}

.pageLoad {
    width: 200vw;
    height: 10000vh;
    position: fixed;
    background-color: $darkness;
    z-index: 2;

    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.pageLoadLogo {
    width: 10vw;
    margin-top: 45vh;
    margin-left: 45vw;
}

@keyframes slide {
    0% {transform: translateX(0vw);}
    60% {transform: translateX(0vw);}
    100% {transform: translateX(-200vw);}
}