@import '../../variables';
@import '../../mixins';

.header {
    width: 100%;
    padding-top: 1.5%;
    position: fixed;
    z-index: 1;
    
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px $darkness;
    
    .mainContainer {
        margin-left: 20%;
        margin-right: 20%;

        @include flexBox(row, nowrap, space-between, flex-end);
    }

    .logoContainer {
        width: 70px;
        height: 70px;
        padding-bottom: 1%;
    }

    .navContainer {
        width: 90%;

        .nav {
            height: 100%;
            @include flexBox(row, nowrap, flex-end, flex-end);

            .navLink {
                margin-left: 1%;
                margin-right: 1%;
                padding-bottom: 1%;
            }
        }
    }
}



/* Themes differences */

.headerWhite {
    background-color: $bluredSnow;
}
.headerBlack {
    background-color: $bluredDarkness;
}



/* Display and hide animation */

.displayHeader {
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}
.hideHeader {
    animation-duration: 0.5s;
    animation-name: slideout;
    animation-fill-mode: forwards;
} 

@keyframes slidein {
    from {transform: translateY(-125px);}
    to {transform: translateY(0px);}
}
@keyframes slideout {
    from {transform: translateY(0px);}
    to {transform: translateY(-125px);}
}

@media screen and (max-width: 1200px) {
    .header {
        width: 40%;
        height: 100vh;

        backdrop-filter: none;
        box-shadow: 2px 0px 10px $darkness;

        .mainContainer {
            margin: 0;
            @include flexBox(column, nowrap, space-around, flex-start);
        }

        .logoContainer {
            width: 30%;
            
            margin-left: 35%;
            margin-top: 25%;
            margin-bottom: 15%;
        }
    
        .navContainer {
            width: 100%;
    
            .nav {
                height: 100%;
                @include flexBox(column, nowrap, flex-start, flex-start);
    
                .navLink {
                    width: max-content;
                    margin-left: 10%;
                    margin-bottom: 5%;
                    font-size: 1.6em;
                    font-weight: 700;
                }
            }
        }
    }

    /* Themes differences */

    .headerWhite {
        background-color: $burgerSnow;
    }
    .headerBlack {
        background-color: $burgerDarkness;
    }

    @keyframes slidein {
        from {transform: translateX(-105%);}
        to {transform: translateX(0);}
    }
    @keyframes slideout {
        from {transform: translateX(0);}
        to {transform: translateX(-105%);}
    }
}

@media screen and (max-width: 767px) {
    .header {
        .navContainer {
            .nav {
                .navLink {
                    font-size: 1.1em;
                }
            }
        }
    }
}

@media screen and (max-width: 510px) {
    .header {

        .logoContainer {
            width: 40%;
            margin-left: 30%;
            margin-bottom: 10%;
        }

        .navContainer {
            .nav {
                .navLink {
                    font-size: 0.8em;
                }
            }
        }
    }
}