.loader {
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 50vh;
  margin-top: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project-name {
  width: 85vw;
  margin-left: 7.5vw;
  text-align: center;
}

.project-topics {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 2em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.project-cover {
  display: block;
  width: 55vw;
  margin-left: 22.5vw;
  margin-top: 1em;
}

.project-cover > img {
  width: 100%;
}

.project-description {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 1em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

@media screen and (max-width: 750px) {
  .project-name > h1 {
    font-size: 1.65em;
  }

  .project-topics span {
    font-size: 0.8em;
  }

  .project-cover {
    width: 85vw;
    margin-left: 7.5vw;
  }

  .project-description {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 0.75em;
  }
}
