@keyframes to-less-brightness {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(35%);
  }
}

@keyframes to-more-brightness {
  from {
    filter: brightness(35%);
  }
  to {
    filter: brightness(100%);
  }
}

@keyframes to-github-white {
  from {
    background-color: transparent;
    color: whitesmoke;
  }
  to {
    background-color: whitesmoke;
    color: black;
  }
}

@keyframes to-github-transparent {
  from {
    background-color: whitesmoke;
    color: black;
  }
  to {
    background-color: transparent;
    color: whitesmoke;
  }
}

.loader {
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 50vh;
  margin-top: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project-name {
  width: 85vw;
  margin-left: 7.5vw;
  text-align: center;
}

.project-topics {
  width: 40vw;
  margin-left: 30vw;
  margin-top: 2em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.project-cover {
  display: block;
  position: relative;
  width: 55vw;
  margin-left: 22.5vw;
  margin-top: 1em;
}

.project-cover > img {
  width: 100%;

  animation-name: to-more-brightness;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.project-cover:hover > img {
  animation-name: to-less-brightness;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.github-logo {
  display: none;
  position: absolute;
  top: 42.5%;
  left: 45.75%;
  width: 5em;
  height: 2.25em;
  padding-top: 1.3em;
  padding-bottom: 1.3em;

  color: whitesmoke;
  border: 3px solid rgba(245, 245, 245, 0.793);
  border-radius: 100%;
}

.project-cover:hover > .github-logo {
  display: block;
}

.project-cover:hover > .github-logo:hover {
  animation-name: to-github-white;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.project-description {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 1em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

.readme-section {
  width: 75vw;
  margin-left: 12.5vw;
  margin-bottom: 35vh;
  display: flex;
  justify-content: center;
}

.readme-section > article {
  width: 100%;
}

.readme-section h1 {
  margin-bottom: 0.65em;
}

.readme-section h2 {
  font-size: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.readme-section h3 {
  font-size: 1.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.readme-section p,
.readme-section li {
  font-size: 1.25em;
}

.readme-section li,
.readme-section ol {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.readme-section li {
  list-style: disc;
  margin-left: 2em;
}

.readme-section a {
  color: #4c6ef5;
  text-decoration: underline;
}

.readme-section > article p.code {
  width: 100%;
  padding: 1em;
  margin-top: 0.25em;
  margin-bottom: 1em;
  background-color: rgba(220, 220, 220, 0.745);
  border-radius: 7.5px;
  font-family: "Fira Code", monospace;
  font-size: 1em;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.readme-section img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.readme-section blockquote {
  padding: 2em;
  background-color: #4c6ef56b;
  border-radius: 10px;
}

.readme-section blockquote > p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readme-section blockquote g-emoji {
  margin-right: 0.5em;
}

@media screen and (max-width: 750px) {
  .readme-section {
    width: 85vw;
    margin-left: 7.5vw;
  }

  .project-name > h1 {
    font-size: 1.5em;
  }

  .project-topics span {
    font-size: 0.8em;
  }

  .project-cover {
    width: 85vw;
    margin-left: 7.5vw;
  }

  .project-description {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 0.75em;
  }

  .readme-section img {
    width: 100%;
  }

  .readme-section h1 {
    font-size: 1.5em;
  }

  .readme-section h2 {
    font-size: 1.25em;
  }

  .readme-section h3 {
    font-size: 1.1em;
  }

  .readme-section p,
  .readme-section li {
    font-size: 1em;
  }

  .readme-section li {
    margin-left: 1em;
  }

  .readme-section > article p.code {
    font-size: 0.8em;
  }

  .readme-section blockquote {
    padding: 1em;
  }
}
