@keyframes to-less-brightness {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(35%);
  }
}

@keyframes to-more-brightness {
  from {
    filter: brightness(35%);
  }
  to {
    filter: brightness(100%);
  }
}

@keyframes to-github-white {
  from {
    background-color: transparent;
    color: whitesmoke;
  }
  to {
    background-color: whitesmoke;
    color: black;
  }
}

@keyframes to-github-transparent {
  from {
    background-color: whitesmoke;
    color: black;
  }
  to {
    background-color: transparent;
    color: whitesmoke;
  }
}

.loader {
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 50vh;
  margin-top: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project-name {
  width: 85vw;
  margin-left: 7.5vw;
  text-align: center;
}

.project-topics {
  width: 40vw;
  margin-left: 30vw;
  margin-top: 2em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.project-cover {
  display: block;
  position: relative;
  width: 55vw;
  margin-left: 22.5vw;
  margin-top: 1em;
}

.project-cover > img {
  width: 100%;

  animation-name: to-more-brightness;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.project-cover:hover > img {
  animation-name: to-less-brightness;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.github-logo {
  display: none;
  position: absolute;
  top: 40%;
  left: 45%;
  width: 10%;
  height: 10%;
  padding-top: 2.1%;
  padding-bottom: 2.1%;

  color: whitesmoke;
  border: 3px solid rgba(245, 245, 245, 0.793);
  border-radius: 100%;
}

.project-cover:hover > .github-logo {
  display: block;
}

.project-cover:hover > .github-logo:hover {
  animation-name: to-github-white;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.project-description {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 1em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 500;
}

@media screen and (max-width: 750px) {
  .project-name > h1 {
    font-size: 1.65em;
  }

  .project-topics span {
    font-size: 0.8em;
  }

  .project-cover {
    width: 85vw;
    margin-left: 7.5vw;
  }

  .project-description {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 0.75em;
  }
}
