@import '../mixins';

.aboutSection {
    margin-top: 0;
    padding-top: 30vh;

    .mainContainer {
        width: 60%;
        margin-left: 20%;
    
        @include flexBox(row, nowrap, center, flex-start);
    
        .textContainer {
            width: 52.5%;
            margin-right: 5%;
    
            .helloWorld {
                margin-bottom: 2.5%;
            }
        }
        
        .coffeeImage {
            width: 42.5%;
            margin-left: 2.5%;
        }
    }
}

@media screen and (max-width: 1600px) {
    .aboutSection {
        padding-top: 20vh;

        .mainContainer {
            width: 80%;
            margin: 10%;

            @include flexBox(row, nowrap, center, center);

            .textContainer {
                width: 60%;
                margin-right: 5%;
        
                .helloWorld {
                    font-size: 3.5em;
                    margin-bottom: 2.5%;
                }
            }

            .coffeeImage {
                width: 35%;
            }
        }
    }
}