@import '../mixins';

.aboutSection {
    width: 60%;
    margin-left: 20%;

    @include flexBox(row, nowrap, center, flex-start);

    .textContainer {
        width: 52.5%;
        margin-right: 5%;

        .helloWorld {
            margin-bottom: 2.5%;
        }
    }
    
    .coffeeImage {
        width: 42.5%;
        margin-left: 2.5%;
    }
}