.contactSection {
  margin-bottom: 10vh;
}

.contactSection .mainContainer {
  width: 60%;
  margin-left: 20%;
  text-align: center;
}

.contactSection .mainContainer .form {
  width: 60%;
  margin-top: 3%;
  margin-left: 20%;
}

.contactSection .mainContainer .form .formInput, .contactSection .mainContainer .form .messageInputContainer .messageInput, .contactSection .mainContainer .form .submitButton, .contactSection .mainContainer .form .submitButtonWhite, .contactSection .mainContainer .form .submitButtonBlack {
  width: 75%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1.5%;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 6px;
}

.contactSection .mainContainer .form .messageInputContainer {
  width: 100%;
}

.contactSection .mainContainer .form .messageInputContainer .messageInput {
  height: 20vh;
  resize: none;
}

.contactSection .mainContainer .form .submitButton, .contactSection .mainContainer .form .submitButtonWhite, .contactSection .mainContainer .form .submitButtonBlack {
  width: 25%;
  cursor: pointer;
}

.contactSection .mainContainer .form .submitButtonWhite {
  background-color: #151515;
  color: #fcf7f8;
  -webkit-animation: toBgWhite;
          animation: toBgWhite;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contactSection .mainContainer .form .submitButtonWhite:hover {
  -webkit-animation: toBgBlack;
          animation: toBgBlack;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contactSection .mainContainer .form .submitButtonBlack {
  background-color: #fcf7f8;
  color: #151515;
  -webkit-animation: toBgBlack;
          animation: toBgBlack;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contactSection .mainContainer .form .submitButtonBlack:hover {
  -webkit-animation: toBgWhite;
          animation: toBgWhite;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes toBgWhite {
  from {
    background-color: #151515;
    color: #fcf7f8;
  }
  to {
    background-color: #fcf7f8;
    color: #151515;
  }
}

@keyframes toBgWhite {
  from {
    background-color: #151515;
    color: #fcf7f8;
  }
  to {
    background-color: #fcf7f8;
    color: #151515;
  }
}

@-webkit-keyframes toBgBlack {
  from {
    background-color: #fcf7f8;
    color: #151515;
  }
  to {
    background-color: #151515;
    color: #fcf7f8;
  }
}

@keyframes toBgBlack {
  from {
    background-color: #fcf7f8;
    color: #151515;
  }
  to {
    background-color: #151515;
    color: #fcf7f8;
  }
}

.title {
  margin-bottom: 2%;
}

.shootEmail {
  width: 49.5%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 25.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=contact.module.css.map */