/* Scales animation */
@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes scaleUp {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes scaleDown {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleDown {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Background black & white animations */
@-webkit-keyframes toWhiteBtn {
  from {
    background-color: #151515;
    color: #fcf7f8;
  }
  to {
    background-color: #fcf7f8;
    color: #151515;
  }
}
@keyframes toWhiteBtn {
  from {
    background-color: #151515;
    color: #fcf7f8;
  }
  to {
    background-color: #fcf7f8;
    color: #151515;
  }
}

@-webkit-keyframes toBlackBtn {
  from {
    background-color: #fcf7f8;
    color: #151515;
  }
  to {
    background-color: #151515;
    color: #fcf7f8;
  }
}

@keyframes toBlackBtn {
  from {
    background-color: #fcf7f8;
    color: #151515;
  }
  to {
    background-color: #151515;
    color: #fcf7f8;
  }
}

/* Basic rotate animations */
@-webkit-keyframes right180 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes right180 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes reverseRight180 {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes reverseRight180 {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

/* Buttons animation */
/* Scale up & down animation */
/* 360 animation */
.mainContainer {
  width: 70%;
  margin-left: 15%;
}

.mainContainer .title {
  text-align: center;
}

.mainContainer .allProjectsBtn, .mainContainer .allProjectsBtnWhite, .mainContainer .allProjectsBtnBlack {
  width: 20%;
  margin-left: 43%;
  padding: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border: 1px solid;
  border-radius: 6px;
}

.mainContainer .allProjectsBtnWhite {
  -webkit-animation: toWhiteBtn;
          animation: toWhiteBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  border-color: #fcf7f8;
}

.mainContainer .allProjectsBtnWhite:hover {
  -webkit-animation: toBlackBtn;
          animation: toBlackBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mainContainer .allProjectsBtnBlack {
  -webkit-animation: toBlackBtn;
          animation: toBlackBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  border-color: #151515;
}

.mainContainer .allProjectsBtnBlack:hover {
  -webkit-animation: toWhiteBtn;
          animation: toWhiteBtn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media screen and (max-width: 1600px) {
  .mainContainer {
    width: 80%;
    margin-left: 10%;
  }
  .mainContainer .title {
    margin-bottom: 5%;
  }
  .mainContainer .allProjectsBtn, .mainContainer .allProjectsBtnWhite, .mainContainer .allProjectsBtnBlack {
    width: 20%;
    margin-left: 38%;
    padding: 1.5%;
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}

@media screen and (max-width: 600px) {
  .mainContainer {
    width: 90%;
    margin-left: 5%;
  }
  .mainContainer .title {
    margin-bottom: 5%;
  }
  .mainContainer .allProjectsBtn, .mainContainer .allProjectsBtnWhite, .mainContainer .allProjectsBtnBlack {
    margin-left: 35%;
    padding: 2%;
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
/*# sourceMappingURL=projects.module.css.map */