@import '../mixins';

.mainContainer {
    width: 70%;
    margin-left: 15%;

    .title {
        text-align: center;
    }

    .allProjectsBtn {
        width: 20%;
        margin-left: 43%;
        padding: 1%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        
        border: 1px solid;
        border-radius: 6px;
    }
    .allProjectsBtnWhite {
        @extend .allProjectsBtn;
        @include whiteButtonAnim();
        border-color: $snow;
    }
    .allProjectsBtnBlack {
        @extend .allProjectsBtn;
        @include blackButtonAnim();
        border-color: $darkness;
    }
}

@media screen and (max-width: 1600px) {
    .mainContainer {
        width: 80%;
        margin-left: 10%;

        .title {
            margin-bottom: 5%;
        }

        .allProjectsBtn {
            width: 20%;
            margin-left: 38%;
            padding: 1.5%;
            padding-left: 3.5%;
            padding-right: 3.5%;
        }
    }
}

@media screen and (max-width: 600px) {
    .mainContainer {
        width: 90%;
        margin-left: 5%;

        .title {
            margin-bottom: 5%;
        }

        .allProjectsBtn {
            margin-left: 35%;
            padding: 2%;
            padding-left: 3.5%;
            padding-right: 3.5%;
        }
    }
}