@import '../variables';
@import '../mixins';
@import '../animations';

.technosSection {
    text-align: center;
    
    .iconsContainer {
        width: 50%;
        margin-top: 5%;
        margin-left: 25%;
    
        .iconsRow {
            width: 100%;
            margin-top: 5%;
            margin-bottom: 5%;
        
            @include flexBox(row, nowrap, space-around, center);
        }
    
        .icon {
            width: 15%;
            @include scaleAnim();

            .iconImage {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .technosSection {
        .iconsContainer {
            width: 75%;
            margin-left: 12.5%;
        }
    }
}

@media screen and (max-width: 600px) {
    .technosSection {
        .iconsContainer {
            width: 90%;
            margin-left: 5%;
        }
    }
}