@import '../mixins';
@import '../animations';

.technosSection {
    text-align: center;
    
    .iconsContainer {
        width: 50%;
        margin-top: 5%;
        margin-left: 25%;
    
        .iconsRow {
            width: 100%;
            margin-top: 5%;
            margin-bottom: 5%;
        
            @include flexBox(row, nowrap, space-around, center);
        }
    
        .icon {
            width: 15%;
            
            animation: scaleDown;
            animation-duration: 0.25s;
            animation-fill-mode: forwards;
    
            &:hover {
                animation: scaleUp;
                animation-duration: 0.25s;
                animation-fill-mode: forwards;
            }
        }
    }
}