@import '../../variables';
@import '../../mixins';

.form {
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;

    .formInput {
        width: 75%;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 1.5%;

        background-color: transparent;
        border: 1px solid $middleGrey;
        border-radius: 6px;
    }

    .messageInputContainer {
        width: 100%;

        .messageInput {
            @extend .formInput;
            height: 20vh;
            resize: none;
        }
    }

    .submitButton {
        @extend .formInput;
        width: 25%;
        cursor: pointer;
    }

    .submitButtonWhite {
        @extend .submitButton;
        border-color: $snow;
        @include whiteButtonAnim();
    }
    
    .submitButtonBlack {
        @extend .submitButton;
        border-color: $darkness;
        @include blackButtonAnim();
    }
}