.contact {
    width: 30vw;
    margin-left: 35vw;
    margin-top: 30vh;
    margin-bottom: 30vh;

    text-align: center;
}

.contact p {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.socials {
    width: 20%;
    margin-left: 40%;
    margin-top: 8%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

@keyframes social-hover {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}
@keyframes social-hover-reverse {
    from { transform: translateY(-10px); }
    to { transform: translateY(0); }
}

.socials>li {
    animation-name: social-hover-reverse;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.socials>li:hover {
    animation-name: social-hover;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}