.projects {
  width: 50vw;
  margin-left: 25vw;
  margin-bottom: 20vh;
  position: relative;
}

.project {
  position: relative;

  height: 70vh;
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 1em;
  background-color: white;
  border-radius: 10px;

  display: flex;
  flex-flow: column nowrap;

  text-align: center;
}

.project .name {
  margin-bottom: 1.5em;
}

.project a {
  margin-bottom: 0.5em;
}

.cover-container {
  width: 80%;
  height: 50%;
  margin-left: 10%;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.project .description {
  flex-grow: 1;
  font-size: 1.25em;
  margin-top: 0.5em;
}

.topics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.alice-carousel__prev-btn-item {
  font-size: 2em;
  font-weight: 600;
}
.alice-carousel__next-btn-item {
  font-size: 2em;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .projects {
    width: 70vw;
    margin-left: 15vw;
  }

  .project {
    height: 60vh;
    padding: 1.5em;
  }

  .project a {
    font-size: 0.8em;
    margin-bottom: 0.25em;
  }

  .project .description {
    font-size: 1.2em;
  }

  .alice-carousel__prev-btn-item {
    font-size: 1.5em;
    font-weight: 600;
  }
  .alice-carousel__next-btn-item {
    font-size: 1.5em;
    font-weight: 600;
  }
}

@media screen and (max-width: 600px) {
  .project {
    height: 50vh;
  }

  .project a {
    font-size: 0.65em;
  }

  .cover-container {
    height: 30%;
  }
}

@media screen and (max-width: 500px) {
  .projects {
    width: 90vw;
    margin-left: 5vw;
  }

  .project {
    height: 60vh;
  }

  .project .description {
    font-size: 1.1em;
  }
}
