@import "variables";

@mixin flexBox($direction, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

/* Scales animation */

@keyframes scaleUp {
    from { transform: scale(1); }
    to { transform: scale(1.5); }
}

@keyframes scaleDown {
    from { transform: scale(1.5); }
    to { transform: scale(1); }
}



/* Background black & white animations */

@keyframes toWhiteBtn {
    from { background-color: $darkness; color: $snow; }
    to { background-color: $snow; color: $darkness; }
}

@keyframes toBlackBtn {
    from { background-color: $snow; color: $darkness; }
    to { background-color: $darkness; color: $snow; }
}



/* Basic rotate animations */

@keyframes right180 {
    from { transform: rotate(0);}
    to { transform: rotate(180deg);}
}

@keyframes reverseRight180 {
    from { transform: rotate(180deg);}
    to { transform: rotate(0);}
}


/* Buttons animation */

@mixin blackButtonAnim() {
    animation-name: toBlackBtn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    &:hover {
        animation-name: toWhiteBtn;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@mixin whiteButtonAnim() {
    animation-name: toWhiteBtn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    &:hover {
        animation-name: toBlackBtn;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}



/* Scale up & down animation */

@mixin scaleAnim() {
    animation-name: scaleDown;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

    &:hover {
        animation-name: scaleUp;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }
}



/* 360 animation */
@mixin rotate180() {
    animation-name: reverseRight180;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    &:hover {
        animation-name: right180;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}