// Colors
$darkness: #151515;
$bluredDarkness: rgba(5, 5, 5, 0.2);
$tagHoveredDarkness: rgba(5, 5, 5, 0.3);
$middleGrey: #999999;
$platinium: #E4E4E4;
$snow: #fcf7f8;
$bluredSnow: rgba(255, 255, 255, 0.2);
$tagHoveredSnow: rgba(252, 247, 248, 0.3);