@import 'variables';

.bodyWhite {
    background-color: $snow;
}

.bodyBlack {
    background-color: $darkness;
}

.textWhite {
    color: $platinium;
}

.textBlack {
    color: $darkness;
}

.link {
    color: $middleGrey;
    cursor: pointer;
}

.linkWhite {
    @extend .link;

    &:hover {
        color: $darkness;
    }
}

.linkBlack {
    @extend .link;
    
    &:hover {
        color: $snow;
    }
}