@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

html, body, div, a, h1, h2, h3, h4, p, img, ul, ol, li, input, textarea, footer, header, nav, section, span, button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none; 
    text-decoration: none;
    font-size: 100%;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-size: 5em;
}
  
h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

section {
    width: 100%;
    margin-top: 50vh;
    margin-bottom: 50vh;
}

@media screen and (max-width: 1600px) {
    h2 {
        font-size: 2.5em;
    }

    section {
        margin-top: 30vh;
        margin-bottom: 30vh;
    }
}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 3.75em;
    }

    h2 {
        font-size: 2em;
    }

    section {
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.8em;
    }

    section {
        margin-top: 15vh;
        margin-bottom: 15vh;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 2.75em;
    }

    h3 {
        font-size: 1.25em;
    }

    section {
        margin-top: 15vh;
        margin-bottom: 15vh;
    }
}

@media screen and (max-width: 412px) {
    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.05em;
    }

    p {
        font-size: 0.9em;
    }
}